/*
Body styling ++
*/

:root {
    --backgroundColor: #0a080e;
    --mainBright: #4d0872;
    --mainDim: #180622;

    --steamBright: #0071CB;
    --steamDim: #0F395A ;

    --xboxBright: #2CA243;
    --xboxDim: #227B20 ;

    --epicBright: #666666;
    --epicDim: #272727 ;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--backgroundColor);
    font-family: Main;
}
@font-face {
    font-family: Main;
    src: url(Assets/Fonts/made_tommy/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf);
}

/*
button + radiobtn styling
*/

[type=button] {
    position: absolute;
    opacity: 0%;
    width: 0%;
    height: 0%;
    border: 0;
}

[type=button] + img {
    cursor: pointer;
}
[type=button]:hover + img {
    opacity: 70%;

}
[type=button]:checked + img {
    outline: 2px solid white;
}

    [type=radio] {
        position: absolute;
        opacity: 0%;
        width: 0%;
        height: 0%;
    }
    [type=radio] + img {
        cursor: pointer;
    }
    [type=radio]:hover + img {
        opacity: 70%;
        scale: 110%;
    }
    [type=radio]:checked + img {
        outline: 2px solid white;
    }

    .hiddenbutton {
        position: absolute;
        opacity: 0%;
        width: 0%;
        height: 0%;
        padding: 0%;
        border: 0%;
    }


/*
Navbar
*/

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;

    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
    border-radius: 0% 0% 20px 20px ;
    height: 82px;
    padding: 0% 0%;

    background-color: var(--mainDim);

    z-index: 9001;
}


   /*
   Text add
   */

    .addtext {
        color: rgb(255, 255, 255);
        background-color: var(--mainDim);
        padding: 29px;
        border-radius: 0% 0% 0% 20px;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0px;
        margin-right: 0px;
        font-size: large;
        font-weight: bold;
    }

    input::placeholder {
        color: #d4d4d4;
        opacity: 100%;

    }

    input:focus::placeholder {
        opacity: 60%;
    }


    /*
    Game Company 
    */

    .addGameCompany {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 82px;
        background-color: var(--mainBright);
        
    }

    .addGameCompany > label {
        padding: 5px;
    }

    .gameCompanyNav {
        filter: drop-shadow(5px 8px 5px rgb(18, 18, 18));
        border-radius: 10%;
    }


    /*
    Game State
    */

    .gamestatediv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0% 30px;
    }

   
    .gamestateLabel > img {
        border-radius: 5px;
    }

    .gamestateLabel {
        width: 55px;
        height: 55px;
        background-color: var(--mainBright);
        border-radius: 10px;
        margin: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*
    Add game button
    */

    .addbutton {
        color: rgb(255, 255, 255);
        padding: 0px 0px;
        border-radius: 0% 0% 20px 0%;
        margin: 0%;
        width: 80px;
        box-sizing: border-box;
        background-color: var(--mainBright);
    }

        .addButtonImg {
            width: 100%;
        }
 

/*
Gamebox Parent
*/

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 180px;
    margin-bottom: 20px;

}


/*
Gamebox
*/

.GameboxTitleSlim, .GameboxTitleWide {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100px;

    background-color: var(--mainBright);
    border-radius: 40px 40px 00px 0px;
    align-items: center;
    color: #ffffff;
    

    font-size: xx-large;
    font-weight: bolder;

    filter: drop-shadow(0px 4px 4px rgb(20, 20, 20));
}
    .GameboxTitleSlim {
        width: 500px;
    }
    .GameboxTitleWide {
        width: 850px;
    }


.gameboxcontentSlim, .gameboxcontentWide {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--mainDim);
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 40px 40px;
    
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 200px;
    margin-bottom: 40px;

}
    .gameboxcontentSlim {
        width: 500px;
    }
    .gameboxcontentWide {
        width: 850px;
    }

    
    .gameboxcontentWide > div {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 50%;
        margin: 10px;
        align-items: center;
        justify-content: center;

    }


    /*
    GameSlotBase
    */

    .steamGameSlot, .xboxGameSlot, .epicGameSlot {
        display: flex;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        max-height: 80px;
        height: 80px;
        width: max-content;
        max-width: 360px;
        border-radius: 20px;
        margin: 10px;
    }

    /*
      \/ setter background farge for label og company 
      name farge styres under name
    */
    .steamGameSlot {
        background-color: var(--steamBright);
    }
    .xboxGameSlot {
        background-color: var(--xboxBright);
    }
    .epicGameSlot {
        background-color: var(--epicBright);
    }
  


    /*
    GameCompany
    */

    .steamGameSlotCompany, .xboxGameSlotCompany, .epicGameSlotCompany {
            display: flex;
            align-items: center;
            justify-content: center;

            min-width: 80px;
            width: 80px;
            height: 80px;
            border-radius: 20px 0px 0px 20px;
    }
            .gameSlotCompanyImg {
                width: 40px;
            }
        

    /*
    GameName
    */

    .gameName {
        display: flex;
        font-size: x-large;
        color: #ffffff;
        font-weight: 100;
        font-family: Main;
        width: 200px;
        padding: 0px 10px;
        height: 80px;
        text-align: center;
        justify-content: center;
        align-items: center;
        word-break: break-word;
    }

    .steamGameSlot > .gameName {
        background-color: var(--steamDim);
    }
    .xboxGameSlot > .gameName {
        background-color: var(--xboxDim);
    } 
    .epicGameSlot > .gameName {
        background-color: var(--epicDim);
    }


    /*
    Game State
    */

    .gameSlotState {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        min-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 0px 20px 20px 0px;
        z-index: 15;
        position: relative; /* Necessary to align the dropdown inside */
    }
 
        /*
        styling for state bilde
        */
        .xboxGameSlot > div > label,
        .steamGameSlot > div > label,
        .epicGameSlot > div > label {
            position: relative;
            z-index: 10; /* Ensure the first label stays on top */
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .steamGameSlot > div > label {
            background-color: var(--steamDim);
        }
        .xboxGameSlot > div > label {
            background-color: var(--xboxDim);
        }
        .epicGameSlot > div > label {
            background-color: var(--epicDim);
        }


        /*
        styling for button hover
        */
            .xboxGameSlot > div > label + img, 
            .steamGameSlot > div > label + img,
            .epicGameSlot > div > label + img {
                cursor: pointer;
            }

            .xboxGameSlot > div > label:hover,
            .steamGameSlot > div > label:hover,
            .epicGameSlot > div > label:hover {
                outline: solid 2px #ffffff;
                scale: 110%;
                cursor: pointer;

            }

            /*
            drop down menu styling
            */
            .gameStateListDiv {
                position: absolute;
                top: 0; /* Adjust the vertical positioning as necessary */
              
                z-index: 1; /* Dropdown menu appears behind the first label */
                display: block; /* Hide initially */
                right: 80px;
                width: 0px;
                height: 80px;
                background-color: var(--xboxDim);
                transition: width 0.3s;
                transition-delay: 0.3s;
            }


            .gameStateListDiv.active {
                width: 200px;
                display: block;
                transition-delay: 0s;

            }
            .xboxGameSlot > div > .gameStateListDiv {
                background-color: var(--xboxDim);
            }
            .steamGameSlot > div > .gameStateListDiv {
                background-color: var(--steamDim);
            }
            .epicGameSlot > div > .gameStateListDiv {
                background-color: var(--epicDim);
            }

            .gameStateList {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 80px;
                margin: 0px;
                padding: 0px;
                list-style: none;
                opacity: 0%;
                transition: opacity 0.3s, scale 0.3s;
                transition-delay: 0s;
                scale: 0%;
            }

            .gameStateList.active {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: 80px;
                margin: 0px;
                padding: 0px;
                list-style: none;
                opacity: 100%;
                transition-delay: 0.3s;
                scale: 100%;
            }

                .gameStateList > li {
                    display: flex;
                    align-items: center;
                    margin: 0px;
                    border-radius: 10px;
                    width: max-content;
                    height: max-content;
                }
                .xboxGameSlot > div > div > ul > li {
                    background-color: var(--xboxBright);
                }

                .steamGameSlot > div > div > ul > li {
                    background-color: var(--steamBright);
                }
                .epicGameSlot > div > div > ul > li {
                    background-color: var(--epicBright);
                }
                .gameStateList > li > label  {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1px;
                }


                .gameStateList > li > label > img {
                    width: 50px;
                    height: auto;
                    transition: scale 0.2s ease, outlinge 0.2s ease;
                }

                .gameStateList > li > label > img:hover {
                    outline: solid 2px #ffffff;
                    scale: 1.1;
                    cursor: pointer;
                    border-radius: 10px;
                }

               

               
                















    /* .row {
        display: flex;
        justify-content: space-between;
        width: 200%;
        margin: 10px 0;
        padding: 10px;
        background-color: #e0e0e0;
        border-radius: 10px;
        cursor: grab;
    }
    .row > div {
        flex: 1;
        margin: 0 5px;
    }
    .input-row {
        margin-bottom: 20px;
    }
    label {
        margin-right: 10px;
    }
    */